@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

    @font-face {
        font-family: 'Headhunter';
        src: url('../../../assets/Graveyard/HeadhunterRegular-6Y1x.ttf')  format('truetype');
        font-weight: bold;
        };
        @font-face {
            font-family: 'Lachrymose';
            src: url('../../../assets/Graveyard/LachrymoseDemoRegular-1GRpM.otf')  format('truetype');
            font-weight: bold;
            };
                @font-face {
                    font-family: 'fell';
                    src: url('../../../assets/Graveyard/IMFellEnglishSC-Regular.ttf')  format('truetype');
                    font-weight: bold;
                    };
                    @font-face {
                        font-family: 'Elite';
                        src: url('../../../assets/Graveyard/special-elite.regular.ttf')  format('truetype');
                        font-weight: bold;
                        };

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    position:absolute; top:0; bottom:0; right:0; left:0;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top,#1B3A76, transparent );
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_behind
{
    z-index: 9;
}
section img#mountains_front
{
    width: 100%;
    height: 100%;
    z-index: 11;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    transform: translateY(-50px);
    /*font-size: 1.5em;*/
    z-index: 9;  
    font-family: 'Lachrymose';
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 10;
    transform: translateY(100px);
    font-family: 'Lachrymose';
}
.sec
{
    position: relative;
    padding: 100px;
    background-image: url('../../../assets/Graveyard/terra.png');
    background-size: 100% 100%;
    background: linear-gradient(to bottom,#1B3A76,#142543  );
}
.cont{
    width: 60%;
    margin: auto;
}
.title
{
    align-items: center;
    width: 50%;
}
.text
{   
    vertical-align: middle;
    text-align: center;
    color: rgb(224, 240, 255);
    font-size: 1vw;
    font-family: 'Elite';
}
.text h2
{
    font-size: 2.5em;
    margin-bottom: 2%;
    color: rgb(224, 240, 255);
    font-family: 'Headhunter';
}
.left
{
    text-align: right;
}
.left img
{
    width: 100%;
}
.alignleft { 
    float: left; 
    width: 20%;
}
.alignright { 
    float: right; 
    width: 20%;
}
#banner
{
    width: 70%; 
    margin-left: 17.5%;
}
.body
{
    font-family: tahoma;
    overflow-x: hidden;
}
.roadmap-container
{
    position: relative;
    text-align: center;
    font-size: 1vw;
    color: rgb(224, 240, 255);
    align-items: center;
    margin-top: 5%;
    z-index: 1;
}
.roadmap-container h2
{
    font-size: 3.5em;
    margin-bottom: 1%;
    font-family: 'Headhunter';
}
.roadmap
{
    width: 80%;
    margin: auto;
    box-shadow: 15px 15px black;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    font-size: 1vw;
    z-index: 3;
    font-family: 'Elite';
}
.reach
{
    border: 1px solid rgb(98, 1, 255);
    border-left: 15px solid rgb(98, 1, 255);
    background: rgba(98, 1, 255, 0.308);
    z-index: 3;
}
.notreach
{
    border: 1px solid rgb(0, 153, 255);
    border-left: 15px solid rgb(0, 153, 255);
    background: rgba(38, 0, 255, 0.308);
    z-index: 3;
}
#roadmap-img
{
    width: 40%;
}
.imgroadmap1-1
{
    position: absolute;
    margin: auto;
    left: 70%;
    width: 100%;
}
.imgroadmap1-2
{
    position: absolute;
    margin: auto;
    top: 0;
    left: -130%;
    right: 0;
    width: 100%;
    transform: rotateY(180deg);
}
.v2
{
    position: relative;
    text-align: center;
    font-size: 1vw;
    color: rgb(224, 240, 255);
    align-items: center;
    z-index: 1;
    width: 80%;
    margin-top: 5%;
}
.roadmap2
{
    width: 80%;
    margin: auto;
    box-shadow: 15px 15px black;
    margin-top: 3%;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    font-size: 1vw;
    z-index: 3;
    font-family: 'Elite';
    text-shadow: 0 0 3px #8F8F8F;
    color: #8F8F8F;
}

.roadmap3
{
    width: 60%;
    margin: auto;
    box-shadow: 15px 15px black;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10px;
    font-size: 1vw;
    z-index: 3;
    font-family: 'Elite';
    text-shadow: 0 0 3px #8F8F8F;
    color: #8F8F8F;
}

.postsale
{
    position: relative;
    text-align: center;
    font-size: 1vw;
    color: rgb(224, 240, 255);
    align-items: center;
    margin-top: 2%;
    z-index: 1;
    width: 40%;

}
.v3
{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border: 1px solid rgb(0, 153, 255);
    background: rgba(38, 0, 255, 0.308);
}
.postsale p
{
    text-align: left;
    font-family: 'Elite';
    color: #8F8F8F;
}
.postsale h2
{
    font-size: 2em;
    margin-bottom: 3%;
    color: rgb(224, 240, 255);
    font-family: 'Headhunter';
}

.faq-container
{
    text-align: center;
    font-size: 1vw;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    padding: 0 1,5rem;
    color: black;
    margin-top: 5%;
    font-family: 'Elite';
}
.faq-container h1
{
    font-size: 3.5em;
    margin-bottom: 1%;
    color:rgb(224, 240, 255);
    font-family: 'Headhunter';
}
.accordion-item
{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
    color: rgb(224, 240, 255);
    background: rgba(98, 1, 255, 0);
    font-size: 1vw;
    width: 100%;
    font-family: 'Elite';
}
.accordion-link{
    font-size: 1.5rem;
    font-size: 1vw;
    color: rgb(224, 240, 255);
    text-decoration: none;
    align-items: left;
    justify-content: space-between;
    padding: 1rem 0;  
    padding-left: 1%;
    background: rgba(98, 1, 255, 0);  
    font-family: 'Elite';
}
.answer
{
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.5rem;
    font-size: 1vw;
    position: relative;
    text-align: left;
    padding: 1rem 0; 
    padding-left: 1%; 
    color: rgb(224, 240, 255);
    font-family: 'Elite';
}
.answer::before
{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}



.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

  /*.accordion-item2
  {
      border: 1px solid rgba(98, 1, 255);
      background: rgba(98, 1, 255, 0.308);
      border-radius: .4rem;
      margin-bottom: 1rem;
      padding: 1rem;
      box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
  }
  .accordion-link2{
      border: 1px solid rgba(98, 1, 255);
      font-size: 1.5rem;
      color: rgba(255,255,255,.8);
      text-decoration: none;
      background: rgba(98, 1, 255, 0.0);
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;  
      padding-left: 10px;  
  }*/
  .team
  {
    text-align: center;
    font-size: 1vw;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 1,5rem;
    color: rgb(224, 240, 255);
    margin-top: 10%;
    
  }
  .team h2
{
    font-size: 2em;
    margin-bottom: 3%;
    color: rgb(224, 240, 255);
    font-family: 'Headhunter';
    text-align: center;
}
.img{
    width: 100%;
}
.grave{
    width: 100%;
}
.ppl
{
    position: relative;
    margin-top: -220%;
    width: 80%;
    border-radius: 0.5ch;
}
.desc
{
    position: absolute;
    color: rgb(224, 240, 255);
    font-size: 0.5vw;
}
.tomba span{
    float: left;
    margin: 0;
    width: 100%;
    color: rgb(224, 240, 255);
    position: absolute;
    left: 0;
    bottom: 25%;
    font-size: 0.7vw;
    font-family: 'Elite';
}
.tomba span strong {
    font-weight: bold;
    font-size: 0.7vw;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
    font-family: 'Elite';
}

.mySlides {display:none;}
.slideshow
{
    align-items: center;
    text-align: center;
    align-content: center;
    
}