
<body>
  <app-header>
  </app-header>
  <section>
    <!-- 
     <img src="assets/Home/stars.png" id="stars">
     <img src="assets/Home/moon.png" id="moon">
     <img src="assets/Home/mountains_behind.png" id="mountains_behind">
     <h2 id="text">CroSkull</h2>
     <a href="#" id="btn">Mint</a>
     <img src="assets/Home/mountains_front.png" id="mountains_front"> 
     <img src="../../assets/Graveyard/text.png" id="title">ng serve
   -->
    <img src="../../assets/Graveyard/cloud.png" id="stars">
    <img src="../../assets/Graveyard/moon.png" id="moon">
    <img src="../../assets/Graveyard/grass.png" id="mountains_behind">

    <h2 id="text">CroSKull</h2>
    <a href="#" id="btn">Mint</a>
    <img src="../../../assets/Graveyard/grave2.png" id="mountains_front">
  </section>
  <div class="sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2" ></div>
          <div class="col-sm-4 left" >
            <img src="../../../assets/Graveyard/Gravetory.png" class="gif">
          </div>
          <div class="col-sm-5 text">
            <h2> What is CroSKull</h2>
            It’s Christmas Eve night. In the Crono's Hole village, children are anxiously awaiting the arrival of Santa Claus, families toast around tables laden and Christmas lights twinkle everywhere.
            Only the grumpy and lonely Doctor Jiiko doesn't like to celebrate Christmas. In fact, while everyone’s cooking sweets and delicacies, he creates potions. And like all the famous villains, what better moment than Christmas Eve to bring his project "to life"?
            6666 gloomy Croskulls are ready to invade the streets of the city!
            <br><br>
            The Croskull is a collection of 6,666 uniquely generated NFTs stored on the Cronos Chain.
            Each Croskull NFT is based on 6+ attributes with different rarities.
            The Croskull will not simply be pfp, but will also be the key to the experiments of Doctor Jiiko's laboratory.
          </div>
          <div class="w-100"></div>
        </div>
      </div>
    <div class="roadmap-container">
      <h2>V.1. ROADMAP</h2>
      <div class="roadmap reach">
        Stage 1 - Crypt Opening: the gates of the Underworld will be open for all the Skullers outta there:
        <br>
        Website, Twitter and Discord Launch 
      </div>
      <div class="roadmap notreach">
        Stage 2 - Afterlife will be summon in our Crypt; Skullers will dance around graves:
        <br>
        Promotion, giveaways and much more will be announced in every Croskull Social Media.  
      </div>
      <div class="roadmap notreach">
        Stage 3 - The Skeletal CROmpetition begins: tips and tricks for OG roles will be wandering around our Social Media:
        <br>
        Rewards to Twitter and Discord community active members. New sneak peaks revealed.
      </div>
      <div class="roadmap notreach">
        Stage 4 - The day of Croskulls resurrection is coming:
        <br>
        Mint-period and marketplace announcement: Croskulls are ready to come out of their Graves!
      </div>
    </div>
    <div class="faq-container">
      <h1>F.A.Q.</h1>
      <div class="accordion">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header " id="headingOne">
              <a class="accordion-link accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Domanda 1
              </a>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="answer">
                Risposta 1
               </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-link accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Domadna 2
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="answer">
              Risposta 2
            </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-link accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Domanda 3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="answer">
               Risposta 3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>