<div class="footer-basic">
    <footer id="footer"> 
        <div class="social">
            <a href="https://discord.gg/MvYcny6dQd"><i class="fab fa-discord"></i></a>
            <a href="https://twitter.com/CroskullNFT"><i class="fab fa-twitter"></i></a>
            <a href="https://medium.com/@croskullnft"><i class="fab fa-medium"></i></a>
            <a href="https://www.instagram.com/croskullnft/"><i class="fab fa-instagram"></i></a>
        </div>
        <!--<div class="link">
            <a href="#">Home </a>
            <a href="#">Services </a>
            <a href="#">About </a>
            <a href="#">Terms </a>
            <a href="#">Privacy Policy </a>
        </div>-->
        <img src="./assets/Graveyard/text2.png" width="20%" />
        <br><br>
        <button type="button" class="btn btn-light" onclick="window.location.href='/m/rights'">CroSKull's Rights Holder</button>
    </footer>