<body> 
    <app-header></app-header>
    <div class="sec" >
            
    </div> 
    <div class="container-fluid">
    <div class="row">
      <div class="col" ></div>
        <div class="col left" >
          <img src="../../../assets/Graveyard/Gravetory.png" class="gif">
        </div>
        <div class="col text">
          <h2> Gravetory</h2>
          <p>Laboratorio che fa robe che non conosco perchè giiko non mi spiega le cose. 
            <br>
            Verrà implementato in futuro appena il signorino giiko vorrà rendermi partecipe del piano. </p>
        </div>
        <div class="col text" ></div>
      </div>
    </div>
    <div class="sec2" >
            
    </div> 
    <app-footer></app-footer>
</body>