@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');
@import url('https://code.jquery.com/jquery-3.3.1.slim.min.js');
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
    font-family: 'Nightmare';
    src: url('../../../assets/Graveyard/NightmarePills-BV2w.ttf')  format('truetype');
    font-weight: bold;
    }

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    position:absolute; top:0; bottom:0; right:0; left:0;
}
.bar
{
    width: 100%; 
    background: #0b1424;
    color: aliceblue;
}