<body>
    <app-header>
    </app-header>
    
    <div class="container">
        <h1>Ownership rights Croskull NFTs</h1>

            <h2> 1. Ownership</h2>
            <p>
                There is no doubt about your ownership rights, you are and always will be the owner of your NFT! Each
                CroSkull is an NFT on the Cronos blockchain. Once you purchase an NFT, you completely own the CroSkull PFP.
                Ownership of the NFT is regulated by the Smart Contract and the Cronos Network.
            </p>
            <p>
                What does it mean? It means that in no circumstances we can change, deny, sell, seize, freeze or modify the
                ownership of your purchased CroSkull.
            </p>
            <h2>2. Personal Use</h2>
            <p>
                You are obliged to respect and comply with the set terms and conditions. In turn, CroSkull will grant you a
                worldwide, royalty-free license to use, copy, and display the purchased NFT, along with any extensions you
                may want to create or use,
                solely for the following purposes:
            </p>
            <p>
                ○ for your own personal and commercial use;
            </p>
            <p>
                ○ as part of a marketplace that permits the purchase and sale of your CroSkull/NFT, provided that the
                marketplace cryptographically verifies each CroSkull owner’s rights to display the Art for their CroSkull to
                ensure that only the actual owner can
                display the Art;
            </p>
            <p>
                ○ as part of a third-party website or application allowing the inclusion, involvement, or participation of
                your CroSkull, provided that the website/application cryptographically verifies each CroSkull owner’s rights
                to display the Art for their
                CroSkull to ensure that only the actual owner can display the Art, and provided that the Art is no longer
                visible once the owner of the CroSkull leaves the website/application.
            </p>
            <h2>3. Commercial Use.</h2>
            <p>
                Subject to your compliance with these Terms, CroSkull grants you an unlimited, worldwide license to use,
                copy, and display the purchased Art for “Commercial Use”. Examples of such Commercial Use would e.g. be the
                use of the Art to produce and sell merchandise products (T-Shirts, bags, mugs, caps etc.) displaying copies
                of the Art. For the sake of clarity, nothing in this section will be deemed to restrict you from:
            </p>
            <p>
                ○ owning or operating a marketplace that permits the use and sale of CroSkull generally, provided that the
                marketplace cryptographically verifies each CroSkull owner’s rights to display the Art for their CroSkull to
                ensure that only the actual owner can display the Art;
            </p>
            <p>
                ○ owning or operating a third-party website or application that permits the inclusion, involvement, or
                participation of CroSkull generally, provided that the third-party website or application cryptographically
                verifies each CroSkull owner’s rights to display the Art for their CroSkull to ensure that only the actual
                owner can display the Artwork, and provided that the Art is no longer visible once the owner of the
                Purchased CroSkull leaves the website/application;
            </p>
            <p>
                ○ earning revenue from any of the foregoing.
            </p>
            <div class="note">
                <p>
                <span>Please note</span> the following risks in using NFTs: The price and liquidity of blockchain assets, including NFTs,
                are extremely volatile and may be subject to large fluctuations; Fluctuations in the price of other digital
                assets could materially and adversely affect NFTs, which may also be subject to significant price
                volatility; Legislative and regulatory changes or actions at the state, federal, or international level may
                adversely affect the use, transfer, exchange, and value of NFTs; NFTs are not legal tender and are not
                backed by the government; Transactions in NFTs may be irreversible, and, accordingly, losses due to
                fraudulent or accidental transactions may not be recoverable.
                </p>
                <p>
                You agree that you assume and bear the risk of any losses related to your purchase of Project Tokens and
                that you have no right whatsoever to claim damages, specific performance, or compensation in any form from
                CroSkull related to your purchase of Project Tokens.
            </p>
        </div>
        </div>

        
        <div class="circle">
            <div class="logo"></div>
            <div class="text">
              <p>CROSKULL © COPYRIGHT</p>
            </div>
          </div>

    <app-footer></app-footer>
</body>