@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'Headhunter';
    src: url('../../../assets/Graveyard/HeadhunterRegular-6Y1x.ttf')  format('truetype');
    font-weight: bold;
    };
        @font-face {
            font-family: 'Elite';
            src: url('../../../assets/Graveyard/special-elite.regular.ttf')  format('truetype');
            font-weight: bold;
            };
body{
    background: #0b1424;;
}
.container
{
    padding-top: 5%;
    color: rgb(224, 240, 255);
}
.container h1
{
    font-family: 'Headhunter';
    margin-bottom: 5%;
    font-size: 4vh;
}
.container h2
{
    font-family: 'Headhunter';
    margin-top: 5%;
    margin-bottom: 1%;
}
.container p
{
    font-family: 'Elite';
}
.note
{
    margin-top: 10%;
    margin-bottom: 10%;
}
span
{
    font-family: arial;
    font-weight: bold;
}
img
{
    width: 100%;
}
.text
{
    position: relative;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}
.circle
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5vh;
    margin: auto;
    margin-bottom: 5%;
}
.logo
{
    position: absolute;
    width: 150px;
    height: 150px;
    background: url("../../../assets/Graveyard/text5.png");
    border-radius: 50%;
    
}
@keyframes rotateText
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}