<!--
<header>
    <a href="#" class="logo">Logo</a>
    <ul>
      <li><a href="home" class="active">Home</a></li>
      <li><a href="https://osmosis.zone/">Lab</a></li>
      <li><a href="work">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </header>
-->

<header>
  <a href="#" class="logo"><img src="./assets/Graveyard/text2.png" id="logo"></a>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Mint</a></li>
  </ul>
</header>