<!--
<header>
    <a href="#" class="logo">Logo</a>
    <ul>
      <li><a href="home" class="active">Home</a></li>
      <li><a href="https://osmosis.zone/">Lab</a></li>
      <li><a href="work">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </header>
-->

<header>
  <a href="#" class="logo"><img src="./assets/Graveyard/text2.png" id="logo"></a>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#story">Story</a></li>
    <li><a href="#map">Roadmap</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="" class="soon"><span>Mint</span></a></li>
    <li><a href="" class="soon"><span>Graveyard</span></a></li>
    <li><a href="" class="soon" ><span>Lab</span></a></li>
  </ul>
</header>