<!--
<header>
    <a href="#" class="logo">Logo</a>
    <ul>
      <li><a href="home" class="active">Home</a></li>
      <li><a href="https://osmosis.zone/">Lab</a></li>
      <li><a href="work">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </header>
-->

<header>
  <a href="#" class="logo"><img src="./assets/Graveyard/text2.png" id="logo"></a>
  <ul>
    <li><a href="#">Home</a></li>
    <li>
      <div class="dropdown">
      <a>Section</a>
      <div class="dropdown-content">
        <a href="#story">Story</a>
        <a href="#features">Features</a>
        <a href="#map">Roadmap</a>
        <a href="#partnership">Partnership</a>
        <a href="#faq">FAQ</a>
        <a href="#team">Team</a>
        <a href="#footer">Social</a>
      </div>
    </div>
  </li>
    <li><a href="https://app.ebisusbay.com/collection/0xF87A517A5CaecaA03d7cCa770789BdB61e09e05F" >Market</a></li>
    <li>
      <a href="https://app.croskull.com/#/tavern">Underworld</a>
    </li>
    <li><a href="" class="soon"><span>Graveyard</span></a></li>
    <li><a href="" class="soon" ><span>Lab</span></a></li>
  </ul>
</header>