<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><i class="fab fa-medium"></i></a>
            <a href="#"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://discord.gg/MvYcny6dQd"><i class="fab fa-discord"></i></a>
            <a href="https://twitter.com/CroskullNFT"><i class="fab fa-twitter"></i></a>
        </div>
        <!--<div class="link">
            <a href="#">Home </a>
            <a href="#">Services </a>
            <a href="#">About </a>
            <a href="#">Terms </a>
            <a href="#">Privacy Policy </a>
        </div>-->
        <p class="copyright">CroSKull © 2021</p>
    </footer>