<!--
<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://discord.gg/MvYcny6dQd"><i class="fab fa-discord"></i></a>
            <a href="https://twitter.com/CroskullNFT"><i class="fab fa-twitter"></i></a>
        </div>
        <!--<div class="link">
            <a href="#">Home </a>
            <a href="#">Services </a>
            <a href="#">About </a>
            <a href="#">Terms </a>
            <a href="#">Privacy Policy </a>
        </div>-->
        <!--
        <p class="copyright">CroSKull © 2021</p>
    </footer>
-->
<footer>
    <div class="container-fluid" style="background-color: black;">
    <div class="row align-items-center">
        <div class="col-4" style="text-align: left;">
            <img src="./assets/Graveyard/logo.png" width="30%" />
        </div>
        <div class="col-4" style="text-align: center;">
            <img src="./assets/Graveyard/text2.png" width="30%" />
        </div>
        <div class="col-4" style="text-align: right;">
            <a href="https://discord.gg/MvYcny6dQd" class="discord"><i class="fab fa-discord"></i> Discord</a>
            <br>
            <a href="https://twitter.com/CroskullNFT" class="twitter"><i class="fab fa-twitter"></i> Twitter</a>
        </div>
    </div>
</div>
</footer>