@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
.footer-basic {
    padding:40px 0;
    background-color:#000;
    color:#fff;
    width: 100%;
  }
  
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #fff;
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#fff;
    margin-bottom:0;
  }
  a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    margin:0 8px;
    color:white;
    opacity:0.75;
    text-decoration: none;
  }
  .discord:hover
  {
    color: #5865F2;
  }
  .twitter:hover
  {
    color: #1DA1F2;
  }
  .medium:hover
  {
    color: #00ab6c;
  }
  .instagram:hover
  {
    /*color: linear-gradient(to left,#8a3ab9, #e95950,#bc2a8d,#fccc63 );*/
    color: #8a3ab9;
  }
  button
  {
    font-family: 'Headhunter';
    width: 50%;
    text-align: center;
  }