@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'Headhunter';
    src: url('../../../assets/Graveyard/HeadhunterRegular-6Y1x.ttf')  format('truetype');
    font-weight: bold;
    };
        @font-face {
            font-family: 'Elite';
            src: url('../../../assets/Graveyard/special-elite.regular.ttf')  format('truetype');
            font-weight: bold;
            };
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    position:absolute; top:0; bottom:0; right:0; left:0;
    background: #0b1424;
}


section
{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#grass
{
    z-index: 9;
}
section img#graves
{
    z-index: 11;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 10vw;
    transform: translateY(-100%);
    z-index: 9;  
    font-family: 'Headhunter';
}
#logo-section
{
    height: 60%;
    width: 60%;
    top: 17%;
    left: 20%;
}
.market-title
{
    font-family: 'headhunter';
    color: rgb(224, 240, 255);
}
.market-text
{
    font-family: 'Elite';
    font-size: 1.5vh;
    color: rgb(224, 240, 255);
}
.market-text a
{
    font-family: 'Elite';
    color: rgb(224, 240, 255);
}


#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 0.5em;
    z-index: 10;
    transform: translateY(100%);
    font-family: 'Headhunter';
}
.sec
{
    position: relative;
    background: #0b1424;
    background-size: auto 100%;
    align-items: center;
    text-align: center;
    width: 100%;
}
.title
{
    align-items: center;
    width: 50%;
}
.text
{   
    vertical-align: middle;
    text-align: center;
    color: azure;
    font-size: 2ch;
    font-family: 'Elite';
    padding: 10px;
    margin-top: 10%;
}
.text h2
{
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Headhunter';
}
.img-text
{
    width: 100%;
    height: auto;
    text-align: center;
    max-width: 300px;
}
.mySlides {
    display:none;
    text-align: center;
    margin-top: 10%;

}
.img
{
    width: 100%;
    margin-bottom: 10%;
}
.img-banner
{
    width: 200%;
    height: 10%;
    margin-left: -50%;
    object-fit: cover;
    pointer-events: none;
}
.container2
{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container2 .cards
{
    width: 35%;
    height: 10%;
    position: absolute;
}
.container2 .card1
{
    margin-top: -125%;
    margin-left: 0%;
}
.container2 .card2
{
  margin-top: -110%;
  margin-left: 65%;
}
.container2 .card3
{
  margin-top: -75%;
  margin-left: 0%;
  color: #fff;
}
.container2 .card4
{
    margin-top: -60%;
    margin-left: 60%;
    color: #fff;
}
.container2 .cards img
{
    width: 100%;
}
.modal-body p
{
    font-family: 'Elite';
    font-size: 20px;
}
.modal-header h5
{
    font-family: 'Headhunter';
}
.modal-content
{
    color: #fff;
}
.roadmap-container
{
    position: relative;
    text-align: center;
    font-size: 1vw;
    font-size: 2ch;
    color: #fff;
    align-items: center;
    margin-top: 10%;
    z-index: 1;
    padding: 10px;
    
}
.roadmap-container h2
{
    font-size: 3em;
    margin-bottom: 1%;
    color: #fff;
    font-family: 'Headhunter';
}
.roadmap
{
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    z-index: 3;
    font-family: 'Elite';
}
.reach
{
    border: 1px solid rgb(98, 1, 255);
    border-left: 10px solid rgb(98, 1, 255);
    background: rgba(98, 1, 255, 0.308);
    z-index: 3;
}
.notreach
{
    border: 1px solid rgb(0, 153, 255);
    border-left: 10px solid rgb(0, 153, 255);
    background: rgba(38, 0, 255, 0.308);
    z-index: 3;
}

.roadmap2
{
    width: 100%;
    margin: auto;
    box-shadow: 15px 15px black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    z-index: 3;
    font-family: 'Elite';
    color: #8F8F8F;
}
.postsale
{
    position: relative;
    text-align: center;
    font-size: 2ch;
    color: #8F8F8F;
    align-items: center;
    margin-top: 10%;
    z-index: 1;
    width: 100%;
}
.v3
{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    border: 1px solid rgb(0, 153, 255);
    background: rgba(38, 0, 255, 0.308);
}
.postsale p
{
    text-align: left;
    font-family: 'Elite';
}
.postsale h2
{
    font-size: 2em;
    margin-bottom: 3%;
    color: #fff;
    font-family: 'Headhunter';
}
.faq-container
{
    text-align: center;
    font-size: 2ch;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 1,5rem;
    color: black;
    margin-top: 10%;
    padding: 10px;
}
.faq-container h1
{
    font-size: 3.5em;
    margin-bottom: 1%;
    color: white;
    font-family: 'Headhunter';
}
.accordion-item
{
    border: 1px solid #018CC1;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
    color: #018CC1;
    background: rgba(98, 1, 255, 0);
    width: 100%;
    
}
.accordion-link{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    align-items: left;
    justify-content: space-between;
    padding: 1rem 0;  
    padding-left: 1%;
    background: rgba(98, 1, 255, 0);  
}
.answer
{
    border: 1px solid #018CC1;
    position: relative;
    transition: max-heigh 650ms;
    text-align: left;
    padding: 1rem 0; 
    padding-left: 1%; 
    color: #fff;
    font-family: 'Elite';
}
.answer::before
{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}



.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23018CC1'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

  .team
  {
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 1,5rem;
    color: white;
    margin-top: 10%;
  }
  .team h2
{
    font-size: 3.5em;
    margin-bottom: 3%;
    color: #fff;
    font-family: 'Headhunter';
    text-align: center;
}
.tomba
{
    width: 100%;
}
.tomba span{
    float: left;
    margin: 0;
    width: 100%;
    color: #dedede;
    position: absolute;
    left: 0;
    bottom: 25%;
    font-size: 2vmax;
    font-family: 'Elite';
}
.tomba span strong {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
    font-family: 'Elite';
}
.img{
    width: 100%;
}
.grave{
    width: 100%;
}
.ppl
{
    position: relative;
    margin-top: -220%;
    width: 70%;
    border-radius: 0.5ch;
}
.desc
{
    position: absolute;
    color: #fff;
}

  /* PROVA TEAM */
  .circle
  {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
  }
  .logo1
  {
      position: absolute;
      width: 100px;
      height: 100px;
      background: url("../../../assets/Graveyard/logo1-m.png");
      border-radius: 50%;
      
  }
  .logo2
  {
      position: absolute;
      width: 100px;
      height: 100px;
      background: url("../../../assets/Graveyard/drako-m.png");
      border-radius: 50%;
      
  }
  .logo3
  {
      position: absolute;
      width: 100px;
      height: 100px;
      background: url("../../../assets/Graveyard/gambero-m.png");
      border-radius: 50%;
      
  }
  .logo4
  {
      position: absolute;
      width: 100px;
      height: 100px;
      background: url("../../../assets/Graveyard/group-m.png");
      border-radius: 50%;
      
  }
  .text2
  {
      position: relative;
      width: 100%;
      height: 100%;
      animation: rotateText 10s linear infinite;
  }
  .text3
  {
      position: relative;
      width: 100%;
      height: 100%;
      animation: rotateText 10s linear infinite;
  }
  .text1
  {
      position: relative;
      width: 100%;
      height: 100%;
      animation: rotateText 10s linear infinite;
  }
  .text4
  {
      position: relative;
      width: 100%;
      height: 100%;
      animation: rotateText 10s linear infinite;
      cursor: pointer;
  }
  @keyframes rotateText
  {
      0%
      {
          transform: rotate(360deg);
      }
      100%
      {
          transform: rotate(0deg);
      }
  }

  .skullsLabel-text
  {
      font-size: 1.2vh;
      font-family: 'Elite';
      margin-top: -5%;
  }
  .skullsLabel-title
  {
      font-size: 1.5vh;
      font-family: 'Headhunter';
      margin-top: 20%;
  }
  .skullsLabel-img
  {
      width: 50%;
      margin-top: 10%;
  }
  .partnership
{
    text-align: center;
    align-items: center;
    color: rgb(224, 240, 255);
    margin-top: 30%;
    margin-bottom: 30%;
}
.partnership h1
{
    font-size: 3em;
    margin-bottom: 3%;
    color: rgb(224, 240, 255);
    font-family: 'Headhunter';
    text-align: center;
}
.partner
{
    box-shadow: 0 0 35px rgba(0, 162, 255, 0.644);
    border: 1px solid rgb(224, 240, 255);
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}
.logo-img
{
    border-radius: 50%;
    background: rgb(224, 240, 255);
    position: absolute;
    right: 46%;
    top: 76%;
}
.name-partner
{
    font-family: 'Elite';
    font-size: 3vh;
    padding-top: 5%;
    color: rgb(224, 240, 255); 
    text-decoration: none !important ; 
}
.name-partner:hover
{
    text-decoration: none;
}
.partnership a {
    margin-top: 10%;
    margin-bottom: 10%;
}