<body> 
    <!-- Navbar -->
    <app-mheader></app-mheader>
    <section>
     <img src="../../../assets/Graveyard/cloud.png" id="stars">
     <img src="../../../assets/Graveyard/moon.png" id="moon">
     <img src="../../../assets/Graveyard/grass.png" id="mountains_behind">
     
     <h2 id="text">CroSKull</h2>
     <a href="#" id="btn">Mint</a>
     <img src="../../../assets/Graveyard/grave2.png" id="mountains_front">
   </section>
   <div class="sec">
    <div class="roadmap-container">
      <h2>ROADMAP:</h2>
      <div class="roadmap reach">
        5% We refund half of the expense from our Team
      </div>
      <div class="roadmap notreach">
        15% Airdrop of five Unique 1/1 CroSkulls to five random lucky holders
      </div>
      <div class="roadmap notreach">
        30% Liquidity lock of 30% from the totale sale for a future project.
      </div>
      <div class="roadmap notreach">
        60% Start of the Brandization of Croskulls Merchandising
      </div>
      <div class="roadmap notreach">
        80% We open the Laboratory
      </div>
      <div class="roadmap notreach">
        100% We open the gates of the Graveyard, realization of the Token utility that will be acquired with Staking
        Nfts
      </div>
    </div>
    <div class="faq-container">
      <h1>F.A.Q.</h1>
      <div class="accordion">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header " id="headingOne">
              <a class="accordion-link accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Domanda 1
              </a>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="answer">
                Risposta 1
               </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-link accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Domadna 2
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="answer">
              Risposta 2
            </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-link accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Domanda 3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="answer">
               Risposta 3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <app-footer></app-footer>

 </body>