<body>
  <!-- Navbar -->
  <app-mheader></app-mheader>
  <section>
    <img src="./assets/Graveyard/cloud.png" id="stars">
    <img src="./assets/Graveyard/moon.png" id="moon">
    <img src="./assets/Graveyard/grass.png" id="mountains_behind">

    <h2 id="text">CroSKull</h2>
    <a href="#" id="btn">Mint</a>
    <img src="./assets/Graveyard/grave2.png" id="mountains_front">
  </section>
  <div class="sec">
    <div class="text">
      <h2> What is CroSKull</h2>
      It’s Christmas Eve night. In the Crono's Hole village, children are anxiously awaiting the arrival of Santa
      Claus, families toast around tables laden and Christmas lights twinkle everywhere.
      Only the grumpy and lonely Doctor Jiiko doesn't like to celebrate Christmas. In fact, while everyone’s cooking
      sweets and delicacies, he creates potions. And like all the famous villains, what better moment than Christmas
      Eve to bring his project "to life"?
      6666 gloomy Croskulls are ready to invade the streets of the city!
      <br><br>
      The Croskull is a collection of 6,666 uniquely generated NFTs stored on the Cronos Chain.
      Each Croskull NFT is based on 6+ attributes with different rarities.
      The Croskull will not simply be pfp, but will also be the key to the experiments of Doctor Jiiko's laboratory.
    </div>
    <div class="left">
      <img src="./assets/Graveyard/Gravetory.png" class="img-text">
    </div>
    <div class="roadmap-container">
      <h2>V.1. ROADMAP</h2>
          <div class="roadmap reach">
            Stage 1 - Crypt Opening: the gates of the Underworld will be open for all the Skullers outta there:
            <br>
            Website, Twitter and Discord Launch
          </div>

          <div class="roadmap reach">
            Stage 2 - Afterlife will be summon in our Crypt; Skullers will dance around graves:
            <br>
            Promotion, giveaways and much more will be announced in every Croskull Social Media.
          </div>

          <div class="roadmap notreach">
            Stage 3 - The Skeletal CROmpetition begins: tips and tricks for OG roles will be wandering around our Social
            Media.
            <br>
            Rewards to Twitter and Discord community active members. New sneak peaks revealed.
          </div>

          <div class="roadmap notreach">
            Stage 4 - The day of Croskulls resurrection is coming.
            <br>
            Mint-period and marketplace announcement: Croskulls are ready to come out of their Graves!
          </div>


      <div class="postsale container">
        <h2>Post Sale Period</h2>
        <p>• NFT stacking.</p>
        <p>• Token launch.</p>
        <p>• Metaverse.</p>
        <p>• Play to Earn.</p>
        <p>And much more! We plan long-term and stable development of the project in different directions.</p>
      </div>


    </div>
    <div class="faq-container">
      <h1>F.A.Q.</h1>
      <div class="" id="">
        <div class="accordion-item">
          <h2 class="accordion-header " id="headingOne">
            <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What is the CroSkull Project?
            </a>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="answer">
              Risposta 1
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Total supply?
          </a>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="answer">
              6666 CroSkull NFTs.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Mint price?
          </a>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="answer">
              TBA
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Where can we Mint?
          </a>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="answer">
              TBA
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Wen Mint Sir?
          </a>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="answer">
              TBA
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Can we use Mobile for Mint?
          </a>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="answer">
              TBA
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            How many NFT can be purchased for each one?
          </a>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="answer">
              TBA
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Website?
          </a>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="answer">
              TBA
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            What attributes will CroSkull have?
          </a>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="answer">
              TBA
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-link accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Is there will be a Whitelist?
          </a>
          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="answer">
              TBA
            </div>
          </div>
        </div>


      </div>

      <div class="team">
        <h2>team</h2>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="tomba">
                <img src="./assets/Monster/PngItem_908865.png" class="grave" />
                <img src="./assets/Monster/team_4.png" class="ppl" />
                <span>
                  <strong>Giiko</strong>
                  Project Leader
                </span>
              </div>
            </div>
            <div class="col">
              <div class="tomba">
                <img src="./assets/Monster/PngItem_908865.png" class="grave" />
                <img src="./assets/Monster/team_2.png" class="ppl" />
                <span>
                  <strong>Drago</strong>
                  Dev/Tech
                </span>
              </div>
            </div>
            </div>
            <div class="row">
            <div class="col">
              <div class="tomba">
                <img src="./assets/Monster/PngItem_908865.png" class="grave" />
                <img src="./assets/Monster/team_3.png" class="ppl" />
                <span>
                  <strong>Diego</strong>
                  Stalker
                </span>
              </div>
            </div>
            <div class="col">
              <div class="tomba">
                <img src="./assets/Monster/PngItem_908865.png" class="grave" />
                <img src="./assets/Monster/team_1.png" class="ppl" />
                <span>
                  <strong>Effe</strong>
                  Woman
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-mfooter></app-mfooter>

</body>